*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --clr-yellow: hsl(45, 50%, 50%);
  --clr-cactus: hsl(140, 64%, 15%);
  --clr-tomato: hsl(22, 82%, 71%);
  --clr-bone: hsl(0, 0%, 95%);
  --clr-black: hsl(185, 19%, 13%);

  font-size: 62.5%;

  --ff-Anton: "Anton", Sans-Serif;
  --ff-Signika: "Signika", Sans-Serif;
  --ff-libre: "Libre Baskerville", serif;
  --ff-roboto: "Roboto", sans-serif;
}

html {
  font-family: var(--ff-roboto);
}

header {
  height: 8rem;
  background-color: var(--clr-bone);
  position: relative;
}

h1 {
  padding-top: 4rem;
  color: var(--clr-tomato);
  font-size: 5rem;
  text-decoration: underline;
  font-family: var(--ff-libre);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
nav {
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2rem;
  text-align: center;
  padding-top: 1rem;
}

nav a {
  height: 4rem;
  width: 4rem;
  color: var(--clr-black);
  font-family: var(--ff-roboto);
  font-size: 0.8rem;
  margin: 0.5rem;
  background-color: var(--clr-tomato);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-cactus);
}

body {
  font-size: 1rem;
}

.projects-elements {
  padding: 2rem 5rem;
  background-color: var(--clr-bone);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects figure {
  width: 30rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
  border: 1px solid var(--clr-cactus);
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: hsla(140, 64%, 15%, 0.1);
}

.projects h3 {
  font-size: 1.5rem;
  color: var(--clr-cactus);
  font-family: var(--ff-libre);
  text-decoration: underline;
}

.title {
  height: 15%;
  width: 100%;
}

.pic {
  height: 40%;
  width: 60%;
  border: 2px solid var(--clr-cactus);
}

.projects img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mole img {
  height:100%;
  width:auto;
  margin: auto;
}

figcaption {
  color: black;
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.languages {
  width: 100%;
  height: 10%;
  display: flex;
}

.languages p {
  padding: 0 1rem;
  margin-right: 1rem;
  background: hsla(45, 50%, 50%, 0.3);
  display: flex;
  align-items: center;
}

footer nav {
  display: flex;
  flex-direction: row;
  padding-top: 0;
}
