*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: 62.5%;
  --ff-libre: "Libre Baskerville", serif;
  --ff-roboto: "Roboto", sans-serif;

  --clr-yellow: hsl(45, 50%, 50%);
  --clr-cactus: hsl(140, 64%, 15%);
  --clr-tomato: hsl(22, 82%, 71%);
  --clr-bone: hsl(0, 0%, 95%);
  --clr-black: hsl(185, 19%, 13%);
}

body {
  font-size: 1rem;
  height: 100vh;
  width: 100%;
  font-family: var(--ff-roboto);
}

header {
  height: 10rem;
}
nav {
  margin-top: 1rem;
  width: 100%;
  text-align: right;
}
nav a {
  padding: 5px;
  color: var(--clr-black);
  font-size: 1rem;
  background-color: var(--clr-yellow);
  margin-right: 5px;
  border: 1px solid var(--clr-black);
}
h1 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  height: 6rem;
  padding-left: 1rem;
  font-size: 3rem;
  border-bottom: 1px black solid;
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: repeat(20, 1fr) / repeat(20, 1fr);
  border-bottom: 1px black solid;
}

.bar {
  background-color: var(--clr-tomato);
  grid-area: 4 / 3 / 7 / 20;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border: 1px solid var(--clr-black);
}
h2 {
  margin: 2rem;
  width: 55%;
  border-bottom: 1px black solid;
}
.photo {
  grid-area: 3 / 2 / 17 / 9;
  background-color: var(--clr-cactus);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  padding: 2rem;
  height: 70%;
  z-index: 6;
  border: 2px solid var(--clr-black);
}

.about {
  background-color: var(--clr-yellow);
  grid-area: 7 / 10 / 20 / 19;
  border-left: 1px solid var(--clr-black);
  border-right: 1px solid var(--clr-black);
  border-bottom: 1px solid var(--clr-black);
  padding: 3rem;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--clr-black);
  z-index: 1;
}

h4 {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  z-index: 1;
}

.about p {
  font-size: 1.5rem;
  padding-left: 2rem;
  font-weight: 300;
  z-index: 1;
}
