*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: 62.5%;
  --ff-libre: "Libre Baskerville", serif;
  --ff-roboto: "Roboto", sans-serif;

  --clr-yellow: hsl(45, 50%, 50%);
  --clr-cactus: hsl(140, 64%, 15%);
  --clr-tomato: hsl(22, 82%, 71%);
  --clr-bone: hsl(0, 0%, 95%);
  --clr-black: hsl(185, 19%, 13%);
}

body {
  font-size: 1.8rem;
  height: 100vh;
  width: 100%;
  font-family: var(--ff-roboto);
}

header {
  width: 100%;
  height: 10rem;
  text-align: right;
}

.dropdown {
  padding-right: 10rem;
  padding-top: 3rem;
  position: relative;
  display: inline-block;
}

.hamburger {
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
}

.hamburger:hover,
.hamburger:focus {
  background-color: black;
}
.hamburger div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: black;
  margin: 3px;
}
.hamburger:hover div,
.hamburger:focus div {
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  width: 70%;
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.3);
  z-index: 1;
  left: 0;
  right: auto;
  transform: translateX(-50%);
}

.dropdown-content a {
  width: 100%;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown-content a:hover {
  color: black;
  background-color: white;
}
.show {
  display: block;
}

main {
  margin: auto;
  width: 90%;
  height: 80%;
  display: flex;
  border-top: 1px black solid;
}

.hmu {
  height: 100%;
  width: 40%;
  border-right: 1px black solid;
}

h1 {
  width: 100%;
  text-align: right;
  margin-right: 10rem;
  font-size: 10rem;
  transform: rotate(-90deg);
  transform-origin: right bottom;
}
.list {
  margin-top: 10rem;
  line-height: 4rem;
  width: 60%;
}

li {
  height: 7rem;
  width: 100%;
  padding-left: 3rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

li > a {
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.one {
  background-image: url(https://www.transparentpng.com/thumb/paint-brush/NNOb80-paint-brush-png-picture.png);
  background-size: 45% 100%;
  background-repeat: no-repeat;
}

.two {
  background-image: url(https://www.transparentpng.com/thumb/paint-brush/aWbz1w-paint-brush-free-cut-out.png);
  background-size: 40% 100%;
  background-repeat: no-repeat;
}
.three {
  padding-top: 2rem;
  background-image: url(https://www.transparentpng.com/thumb/paint-brush/3yFkUZ-download-paint-brush-png.png);
  background-size: 35% 100%;
  background-repeat: no-repeat;
}
.four {
  background-image: url(https://www.transparentpng.com/thumb/brush-stroke/high-quality-turquoise-paint-brush-stroke-free-png-k8UFIN.png);
  background-size: 25% 100%;
  background-repeat: no-repeat;
}
.five {
  background-image: url(../images/purple.png);
  background-size: 20% 75%;
  background-repeat: no-repeat;
  background-position: left center;
}
