*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: 62.5%;

  --clr-yellow: hsl(45, 50%, 50%);
  --clr-cactus: hsl(140, 64%, 15%);
  --clr-tomato: hsl(22, 82%, 71%);
  --clr-bone: hsl(0, 0%, 95%);
  --clr-black: hsl(185, 19%, 13%);

  --ff-libre: "Libre Baskerville", Serif;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: 2.5rem;
  background-color: var(--clr-black);
}
main {
  height: 100%;
  width: 100%;
  padding: 3rem;
  margin: auto;
  display: grid;
  text-align: center;
  grid-template: repeat(40, 1fr) / repeat(40, 1fr);
  min-height: 0;
  min-width: 0;
  justify-items: center;
  align-items: center;
}

h1 {
  font-size: 10vh;
  color: var(--clr-black);
  grid-area: 18 / 15 / 22 / 25;
  background-color: hsla(0, 0%, 95%, 0.5);
  padding: 20px;
}

main p {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#a,
#i {
  animation: move-more 2.5s linear infinite alternate backwards;
  animation-delay: 1s;
}

#c,
#k {
  animation: move 2s linear infinite alternate backwards;
  animation-delay: 1s;
}

#e,
#m {
  animation: move-more 1.3s linear infinite alternate backwards;
  animation-delay: 2.5s;
}
#g,
#o {
  animation: move 1s linear infinite alternate backwards;
  animation-delay: 2s;
}
#h,
#p {
  animation: move 2.3s linear infinite alternate backwards;
  animation-delay: 3.5s;
}
#f,
#n {
  animation: move-more 2.7s linear infinite alternate backwards;
  animation-delay: 3s;
}
#d,
#l {
  animation: move 1.7s linear infinite alternate forwards;
}
#b,
#j {
  animation: move-more 0.8s linear infinite alternate forwards;
}

@keyframes move {
  100% {
    transform: scale(3);
  }
  from {
    background-color: var(--clr-black);
  }
  to {
    background-color: hsla(0, 0%, 0% 0);
  }
}
@keyframes move-more {
  100% {
    transform: scale(5);
  }
  from {
    background-color: var(--clr-black);
  }
  to {
    background-color: hsla(0, 0%, 0% 0);
  }
}
