*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: 62.5%;

  --clr-yellow: hsl(45, 50%, 50%);
  --clr-cactus: hsl(140, 64%, 15%);
  --clr-tomato: hsl(22, 82%, 71%);
  --clr-bone: hsl(0, 0%, 95%);
  --clr-black: hsl(185, 19%, 13%);

  --ff-libre: "Libre Baskerville", Serif;
}

body {
  height: 100vh;
  width: 100%;
  font-size: 2.5rem;
  background-color: var(--clr-black);
}
main {
  height: 100%;
  width: 100%;
  padding: 3rem;
  margin: auto;
  display: grid;
  text-align: center;
  grid-template: repeat(40, 1fr) / repeat(40, 1fr);
  min-height: 0;
  min-width: 0;
  justify-items: center;
  align-items: center;
}

main p {
  font-family: var(--ff-libre);
  min-width: 0;
}

#a,
#i {
  animation: move 5s linear infinite alternate backwards;
  animation-delay: 1s;
}

#c,
#k {
  animation: move 4s linear infinite alternate backwards;
  animation-delay: 1s;
}

#e,
#m {
  animation: move 3s linear infinite alternate backwards;
  animation-delay: 2s;
}
#g,
#o {
  animation: move 2s linear infinite alternate backwards;
  animation-delay: 2s;
}
#h,
#p {
  animation: move 4.5s linear infinite alternate backwards;
  animation-delay: 3s;
}
#f,
#n {
  animation: move 3.5s linear infinite alternate backwards;
  animation-delay: 3s;
}
#d,
#l {
  animation: move 2.5s linear infinite alternate forwards;
}
#b,
#j {
  animation: move 1.5s linear infinite alternate forwards;
}

@keyframes move {
  100% {
    transform: scale(1.5);
  }
  from {
    color: var(--clr-black);
  }
  to {
    color: hsla(0, 0%, 0% 0);
  }
}
